<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ru">
<head>
	<meta charset="utf-8"/>
	<title>[% title %]</title>
	[% INSERT "layouts/libs" %]
	<script>
	$(document).ready(function() {

		$('.sidebar')
			.sidebar('setting', 'transition', 'overlay')
		//	.sidebar('setting', 'dimPage', false)
		//	.sidebar({ context: $('#main') })
		;
		$('#hamb').on('click', function() {
			$('.sidebar').sidebar('toggle');
		});

	});
	</script>
	<style>
	</style>
</head>
<body>
		<div class="ui left sidebar vertical inverted green menu">
			<a href="#" class="item">Add FP</a>
			<a href="#" class="item">Add Category</a>
			<a href="#" class="item">Edit Category</a>
			<a href="#" class="item">Add Income</a>
			<a href="#" class="item">Eщё что-то...</a>
			<a href="#" class="item">И ещё...</a>
			<a href="#" class="item">Ну и, как бы...</a>
		</div>

[% INCLUDE 'layouts/main_menu' %]

	<div class="ui fluid container" id="main">
		<div class="ui pusher" id="inner">
			<div class="ui two column padded grid">
				[% INCLUDE 'layouts/welcome' %]
			</div>

			<!-- Карточки категорий -->
			<div class="ui cards">
	[% FOREACH cat IN [ 'Коммуналка', 'Еда', 'Транспорт', 'Гигиента и парфюмерия', 'Уход за домом', 'Техника', 'Развлечения', 'Прочее', 'Отложенные: Родители', 'Долг' ] %]
				<div class="raised card">
					<div class="content">
						<div class="header">[% cat %]</div>
						<div class="description">Elliot Fu is a film-maker from New York.</div>
					</div>
					<div class="ui bottom attached button"><i class="add icon"></i>Расход</div>
				</div>
	[% END %]
			</div>
		</div>
	</div>
</body>
</html>
