<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/fomantic-ui@2.8.4/dist/semantic.min.css">
<script src="https://unpkg.com/fomantic-ui@2.8.4/dist/semantic.min.js"></script>

	<!--script src="http://cdn.jsdelivr.net/jquery.glide/1.0.6/jquery.glide.min.js"></script>

	<link href="/static/tablesaw.css" rel="stylesheet">
	<script src="/static/tablesaw.js"></script>
	<script src="/static/tablesaw-init.js"></script -->


