	<div class="ui left sidebar vertical inverted menu">
		<a href="#" class="item">Add FP</a>
		<a href="#" class="item">Add Category</a>
		<a href="#" class="item">Edit Category</a>
		<a href="#" class="item">Add Income</a>
		<a href="#" class="item">Eщё что-то...</a>
		<a href="#" class="item">И ещё...</a>
		<a href="#" class="item">Ну и, как бы...</a>
	</div>
